{% extends "orders/layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block body %}

    <div class="container">
        <h1>Register</h1>
        {% if msg %}
            <div class="alert alert-danger" role="alert">
                {{ msg }}
            </div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <!--gets the registration form and displays it as paragraph-->
            {{ form.as_p }}
            <button type="submit" class="btn btn-dark">register</button>
        </form>
    </div>


{% endblock %}