{% extends "orders/layout.html" %}

{% block title %}
    {{ sub.name }}
{% endblock %}

{% block body %}

    <!--for displaying error messages-->
    {% if message %}
        {{ message }}
    {% endif %}

    <div class="container">
        <h2> {{ sub.name }} </h2>
        <!--form for choosing toppings and size of the sub-->
        <form action="{% url 'add_sub' sub.id %}" method="post">
            {% csrf_token %}
            <select name="size">
                <!--if sub has a small size option-->
                {% if small %}
                    <option value="small">small</option>
                {% endif %}
                <option value="large">large</option>
            </select>
            <select name="cheese">
                <option value="with extra cheese">with extra cheese</option>
                <option value="without extra cheese">without extra cheese</option>
            </select>

            <!--in the case where additional toppings are allowed-->
            {% if toppings %}
                <select name="mushrooms">
                    <option value="with mushrooms">with mushrooms</option>
                    <option value="without mushrooms">without mushrooms</option>
                </select>
                <select name="green_peppers">
                    <option value="with green peppers">with green peppers</option>
                    <option value="without green peppers">without green peppers</option>
                </select>
                <select name="onions">
                    <option value="with onions">with onions</option>
                    <option value="without onions">without onions</option>
                </select>
            {% endif %}
            <!--button for adding to cart-->
            <input type="submit" class="btn btn-dark" value="add to cart" />
        </form>
    </div>

{% endblock %}